[user]
	name = kokoax
	email = yomo4808@gmail.com

[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:

[alias]
  s = status
  a = add
  c = commit -m
  ac = commit -am
  l = log --oneline
  p = push
  d = diff

