[user]
	name = kokoax
	email = yomo4808@gmail.com

[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:

[alias]
  s = status
  a = add
  c = commit
  ac = commit -a
  l = log --oneline
  p = push
  d = diff
  r = remote
  o = checkout

  # cd = "!ghq look `ghq list | peco --query \"$1\" --initial-filter Fuzzy --prompt 'PROJECT'`"
  # cd = "!ghq look `ghq list | peco --query \"$1\" --prompt 'PROJECT'`"
  get = !ghq get -p
  list = !ghq list
  root = "!exec $SHELL ; :"
  unget = "!ghq-unget $1"

[fetch]
    prune = true

[core]
	editor = nvim

[init]
	templatedir = /home/kokoax/.git_template/
